
:root {
    --el-color-primary: #00bdbc;
    --color-primary: #000;
    --background-color: #0a0b0c;
    --surface: #111213;
    --border-radius: 14px;
    --surface-border: 1px solid rgba(38,38,38,.7);
    --surface-background-color: #0f1011;
    --surface-background: var(--surface-background-color);
    --section-block-header-height: 1.5rem;
    --window-title-bar-height:32px;
    --window-body-height: calc(100vh - var(--window-title-bar-height));
}

body{
    margin: 0;
    background-color: var(--background-color);
    font-family: 'Microsoft YaHei';
    color: #ffffff;
}

* {
    user-select: text;
}

.i-icon{
    line-height: 0;
}

.dialog{

}

.window {
    width: 100vw;
    height: 100vh;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
    background: rgba(241, 241, 241, 0.2); /* 轨道背景色 */
    border-radius: 10px; /* 圆角 */
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    background: #888; /* 滑块背景色 */
    border-radius: 10px; /* 圆角 */
}

/* 滚动条滑块悬停效果 */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* 悬停时的背景色 */
}